{{ partial "header.html" . }}

<body class="single single-post single-format-standard alt-style-default layout-default">
{{ partial "gtm.html" . }}

<div id="wrapper">
    <div id="inner-wrapper">

    {{ partial "sidebar.html" . }}

    <div id="content" class="col-full">
        <section id="main">
            <article class="post type-post status-publish format-standard hentry">
                {{ range $taxonomy := .Params.categories }}
                <header style="background-image: url('/img/categories/category-{{ $taxonomy | urlize }}-full.jpg' ); ?>); background-size: cover; background-position: center center;" >
                {{ end }}
                    <section class="header-content">
                        <h1><a href="{{ .Params.redirect }}">{{ .Title }}</a></h1>
                            <aside class="post-meta">
                                <span class="post-date">{{ .Date.Format "January 2, 2006" }}</span>
                                <span class="post-category">in
                                    {{ range $taxonomy := .Params.categories }}
                                        <a href="/categories/{{ $taxonomy | urlize }}" title="View all posts in {{ $taxonomy }}" rel="category tag">{{ $taxonomy }}</a>
                                    {{ end }}
                                </span>
                            </aside>
                    </section>

                    <nav id="post-entries" class="fix">
                        {{ if .NextPage }}
                        <div class="nav-prev fl"><a href="{{ .NextPage.RelPermalink }}" rel="prev">{{ .NextPage.Title}}</a></div>
                        {{ end }}
                        {{ if .PrevPage }}
                        <div class="nav-next fr"><a href="{{ .PrevPage.RelPermalink }}" rel="prev">{{ .PrevPage.Title}}</a></div>
                        {{ end }}
                    </nav><!-- #post-entries -->

                    </header>

                <section class="entry fix">

                {{ .Content }}

                <p><a href="{{ .Params.redirect }}">Read article</a></p>

                {{ template "partials/cta_subscribe.html" }}
                </section>

                </article><!-- .post -->


                </section><!-- #main -->

    {{ template "_internal/disqus.html" . }}
    </div><!-- #content -->

{{ partial "footer.html" . }}

    </div><!-- /#inner-wrapper -->
</div><!-- /#wrapper -->

</body>
</html>