<article class="post">
    <header>
        <h1 class="ignore_link_post_title">
            <a href='{{ index .Params "redirect" }}' rel="bookmark" title="{{ .Title }}">{{ .Title }}</a>
            <a href="{{ .RelPermalink }}" rel="bookmark" title="Read here" class="secondary_link"><i class="icon-sun"></i></a>
        </h1>
        <aside class="post-meta">
            <span class="post-date">{{ .Date.Format "January 2, 2006" }}, </span>
            <span class="post-category">in
            {{ range $taxonomy := .Params.categories }}
            <a href="/{{ $taxonomy }}" title="View all posts in {{ $taxonomy }}" rel="category tag">{{ $taxonomy }}</a>
            {{ end }}
            </span>
        </aside>
    </header>
    <section class="entry">
        {{ .Content }}
    </section>
    <footer class="post-more">
        <a class="button" href="{{ index .Params "redirect" }}" title="Continue Reading">Read Original</a>
    </footer>
</article>