{{ partial "header.html" . }}

<body class="home blog alt-style-default layout-right-content">
{{ partial "gtm.html" . }}

<div id="wrapper">
    <div id="inner-wrapper">

    {{ partial "sidebar.html" . }}

    <div id="content">
        <section id="main">
            <article class="page type-post status-publish format-standard hentry">

                <h1>{{ .Title }}</h1>

                {{ .Content }}


                </article><!-- .post -->
                </section>


                </section><!-- #main -->

    </div><!-- #content -->

{{ partial "footer.html" . }}

    </div><!-- /#inner-wrapper -->
</div><!-- /#wrapper -->

</body>
</html>