<article class="post">
    <header>
      <h1>
          <a href="{{ .RelPermalink }}" rel="bookmark" title="{{ .Title }}">{{ .Title }}</a>
      </h1>
      <aside class="post-meta">
          <span class="post-date">{{ .Date.Format "January 2, 2006" }}, </span>
          <span class="post-category">in
          {{ range $taxonomy := .Params.categories }}
          <a href="/categories/{{ $taxonomy | urlize }}" title="View all posts in {{ $taxonomy }}" rel="category tag">{{ $taxonomy }}</a>
          {{ end }}
          </span>
      </aside>
  </header>
  <section class="entry{{ if .Params.ogimage }} imagesummary{{end}}">
      <p>{{ if .Description }}{{.Description}}{{ else }}{{ .Summary }}{{ end }}</p>
      {{ if .Params.ogimage }}<img src="{{ .Params.ogimage }}"/>{{end}}
  </section>
  <footer class="post-more">
      <a class="button" href="{{ .RelPermalink }}" title="Continue Reading">Continue Reading</a>
  </footer>
</article>