<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>{{ .Title }} | ig.nore.me</title>
    {{ partial "meta.html" . }}
    <link rel="alternate" type="application/rss+xml" title="ig.nore.me &raquo; Feed" href="/index.xml" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/css/style.min.css' type='text/css' media='all' />
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <script type='text/javascript' src='/js/jquery.js?ver=1.11.0'></script>
    <script type='text/javascript' src='/js/jquery-migrate.min.js?ver=1.2.1'></script>
    <script type='text/javascript' src='/js/fitvids.min.js?ver=1.0'></script>
    <script type='text/javascript' src='/js/modernizr.min.js?ver=2.6.2'></script>
    <script type='text/javascript' src='/js/general.min.js?ver=1.0'></script>
</head>