<header id="header">

        <span class="nav-toggle"><a href="#navigation"><span>Navigation</span></a></span>

        <hgroup>
            <h1 class="site-title"><a href="http://ig.nore.me/">ig.nore.me</a></h1>
            <h2 class="site-description">Connecting the dots</h2>
        </hgroup>

        <nav id="navigation" class="col-full" role="navigation">
            <section class="menus">
            <a href="/" class="nav-home"><span>Home</span></a>
            <ul id="main-nav" class="nav">
                <li class="page_item current_page_item"><a href="http://ig.nore.me/">Home</a></li>
                <li class="page_item page-item-7"><a href="http://ig.nore.me/about/">About</a></li>
            </ul><!-- /#nav -->
            <ul class="nav rss">
                <li class="sub-rss"><a href="http://ig.nore.me/feed/">RSS</a></li>
            </ul>
            </section><!--/.menus-->

            <a href="#top" class="nav-close"><span>Return to Content</span></a>

        </nav><!-- /#navigation -->


    </header><!-- /#header -->