<header id="header">

        <span class="nav-toggle"><a href="#navigation"><span>Navigation</span></a></span>

        <hgroup>
            <h1 class="site-title"><a href="/">ig.nore.me</a></h1>
            <h2 class="site-description">Connecting the dots</h2>
        </hgroup>

        <nav id="navigation" class="col-full" role="navigation">
            <section class="menus">
            <ul id="main-nav" class="nav">
            {{ $currentNode := . }}
            {{ range .Site.Menus.main }}
                <li class="page_item{{if $currentNode.IsMenuCurrent "main" . }} current-menu-item{{end}}"><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
            </ul><!-- /#nav -->
            <ul class="nav github">
                <li class="sub-github"><a href="https://www.github.com/{{ .Site.Params.GitHubUser }}">GitHub</a></li>
            </ul>
            </section><!--/.menus-->

            <a href="#top" class="nav-close"><span>Return to Content</span></a>

        </nav><!-- /#navigation -->


    </header><!-- /#header -->