{{ partial "header.html" . }}

<body class="single single-post single-format-standard alt-style-default layout-default">
{{ partial "gtm.html" . }}

<div id="wrapper">
    <div id="inner-wrapper">

    {{ partial "sidebar.html" . }}

    <div itemscope itemtype="http://schema.org/Article" id="content" class="col-full">
        <section id="main">
            <article class="post type-post status-publish format-standard hentry">
                {{ range $taxonomy := .Params.categories | first 1 }}
                <header style="background-image: url('/img/categories/category-{{ $taxonomy | urlize }}-full.jpg' ); ?>); background-size: cover; background-position: center center;" >
                {{ end }}
                    <section class="header-content">
                        <h1 itemprop="name">{{ .Title }}</h1>
                        <h2>Given for {{ .Params.location }} on {{ .Params.presentation_date }}</h2>
                            <aside class="post-meta">
                                <span itemprop="datePublished" content="{{ .Date.Format "2006-01-02" }}" class="post-date">{{ .Date.Format "January 2, 2006" }}</span>
                                <span class="post-category">in
                                    {{ range $taxonomy := .Params.categories }}
                                        <a itemprop="articleSection" content="{{ $taxonomy }}" href="/categories/{{ $taxonomy | urlize }}" title="View all posts in {{ $taxonomy }}" rel="category tag">{{ $taxonomy }}</a>
                                    {{ end }}
                                </span>
                            </aside>
                    </section>

                    <nav id="post-entries" class="fix">
                        {{ if .Prev }}
                        <div class="nav-prev fl"><a href="{{ .Prev.RelPermalink }}" rel="prev">{{ .Prev.Title}}</a></div>
                        {{ end }}
                        {{ if .Next }}
                        <div class="nav-next fr"><a href="{{ .Next.RelPermalink }}" rel="prev">{{ .Next.Title}}</a></div>
                        {{ end }}
                    </nav><!-- #post-entries -->

                    </header>

                <section itemprop="articleBody" class="entry fix">

                {{ .Content }}


                {{ partial "cta_subscribe.html" . }}

                {{ partial "related.html" . }}
                </section>

                </article><!-- .post -->


                </section><!-- #main -->
    {{ template "_internal/disqus.html" . }}
    <meta itemprop="url" content="{{.Permalink}}">
    <meta itemprop="wordCount" content="{{.WordCount}}">
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
    <meta itemprop="name" content="{{.Params.author}}">
    </span>
    </div><!-- #content -->

{{ partial "footer.html" . }}

    </div><!-- /#inner-wrapper -->
</div><!-- /#wrapper -->

</body>
</html>
