{{ define "main"}}
    <div id="content">

        <section id="main">

            <ul class="home-tabber">
                <li class="active"><a href="#articles">Articles</a></li>
                <li><a href="#topics">Topics</a></li>
            </ul>

            <div id="home-tabs">

                <div id="articles">
                    {{ range where .Paginator.Pages "Type" "in" site.Params.mainSections  }}
                        {{ .Render "summary" }}
                    {{ end }}
                    {{ template "_internal/pagination.html" . }}
                </div><!-- /#articles -->

                <div id="topics">
                    <ul>
                        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                        <li>
                            <a href="/categories/{{ $name | urlize }}" title="{{ $name }}"><img src="/img/categories/category-{{ $name | urlize }}-130x130.jpg" height="98" width="130"></a>
                            <h1><a href="/categories/{{ $name | urlize }}" title="{{ $name }}">{{ $name }}</a></h1>
                            <p class="meta">{{ $num := len $taxonomy.Pages }}{{ if eq $num 1 }} 1 Article {{ else }} {{ $num }} Articles{{ end }}</p>
                            <a class="articles-link" href="/categories/{{ $name | urlize }}" title="{{ $name }}">Articles</a>
                        </li>
                        {{ end }}
                    </ul>
                </div><!-- /#topics -->

            </div><!-- /#home-tabs -->

        </section><!-- /#main -->

    </div><!-- /#content -->

{{ end }}
