{{ partial "header.html" . }}
<body class="home blog safari alt-style-default layout-right-content">
{{ partial "gtm.html" . }}

<div id="wrapper">
    <div id="inner-wrapper">

    {{ partial "sidebar.html" . }}

    <div id="content">

        <section id="main">

            <ul class="home-tabber">
                <li class="active"><a href="#articles">Articles</a></li>
                <li><a href="#topics">Topics</a></li>
            </ul>

            <div id="home-tabs">

                <div id="articles">
                    {{ range first 10 .Data.Pages }}
                        {{ .Render "summary" }}
                    {{ end }}
                </div><!-- /#articles -->

                <div id="topics">
                    <ul>
                        {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
                        <li>
                            <a href="/categories/{{ $key | urlize }}" title="{{ $key }}"><img src="//assets2.nore.me/categories/category-{{ $key }}-130x130.jpg"/></a>
                            <h1><a href="/categories/{{ $key | urlize }}" title="{{ $key }}">{{ $key }}</a></h1>
                            <p class="meta">{{ $num := len $taxonomy.Pages }}{{ if eq $num 1 }} 1 Post {{ else }} {{ $num }} Posts{{ end }}</p>
                            <a class="articles-link" href="/categories/{{ $key | urlize }}" title="{{ $key }}">Articles</a>
                        </li>
                        {{ end }}
                    </ul>
                </div><!-- /#topics -->

            </div><!-- /#home-tabs -->

        </section><!-- /#main -->

    </div><!-- /#content -->

    {{ partial "footer.html" . }}

    </div><!-- /#inner-wrapper -->
</div><!-- /#wrapper -->
    <script type="text/javascript">
    // <![CDATA[
        var disqus_shortname = 'ignoreme';
        (function () {
            var nodes = document.getElementsByTagName('span');
            for (var i = 0, url; i < nodes.length; i++) {
                if (nodes[i].className.indexOf('dsq-postid') != -1) {
                    nodes[i].parentNode.setAttribute('data-disqus-identifier', nodes[i].getAttribute('rel'));
                    url = nodes[i].parentNode.href.split('#', 1);
                    if (url.length == 1) url = url[0];
                    else url = url[1]
                    nodes[i].parentNode.href = url + '#disqus_thread';
                }
            }
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    //]]>
    </script>
    <div style="display:none">
    </div>

<!--[if lt IE 9]>
<script src="/js/respond.js"></script>
<![endif]-->
<script type='text/javascript' src='/js/prism.js'></script>

</body>
</html>