{{ partial "header.html" . }}
<body class="home blog alt-style-default layout-right-content">
{{ partial "gtm.html" . }}

<div id="wrapper">
    <div id="inner-wrapper">

    {{ partial "sidebar.html" . }}

    <div id="content">

        <section id="main">

            <ul class="home-tabber">
                <li class="active"><a href="#articles">Articles</a></li>
                <li><a href="#topics">Topics</a></li>
            </ul>

            <div id="home-tabs">

                <div id="articles">
                    {{ range first 10 .Data.Pages }}
                        {{ .Render "summary" }}
                    {{ end }}
                </div><!-- /#articles -->

                <div id="topics">
                    <ul>
                        {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
                        <li>
                            <a href="/categories/{{ $key | urlize }}" title="{{ $key }}"><img src="/img/categories/category-{{ $key }}-130x130.jpg" height="98" width="130"></a>
                            <h1><a href="/categories/{{ $key | urlize }}" title="{{ $key }}">{{ $key }}</a></h1>
                            <p class="meta">{{ $num := len $taxonomy.Pages }}{{ if eq $num 1 }} 1 Post {{ else }} {{ $num }} Posts{{ end }}</p>
                            <a class="articles-link" href="/categories/{{ $key | urlize }}" title="{{ $key }}">Articles</a>
                        </li>
                        {{ end }}
                    </ul>
                </div><!-- /#topics -->

            </div><!-- /#home-tabs -->

        </section><!-- /#main -->

    </div><!-- /#content -->

    {{ partial "footer.html" . }}

    </div><!-- /#inner-wrapper -->
</div><!-- /#wrapper -->

</body>
</html>