{{ define "bodytags"}}class="single single-post single-format-standard alt-style-default layout-default" {{ end }}
{{ define "main" }}
    <div itemscope itemtype="https://schema.org/Article" id="content" class="col-full">
        <section id="main">
            <article class="post type-post status-publish format-standard hentry">
                {{ range $taxonomy := .Params.categories | first 1 }}
                <header style="background-image: url('/img/categories/category-{{ $taxonomy | urlize }}-full.jpg' ); background-size: cover; background-position: center center;" >
                {{ end }}
                    <section class="header-content">
                        <h1 itemprop="headline">{{ .Title }}</h1>
                            <aside class="post-meta">
                                <span itemprop="datePublished" content="{{ .Date.Format "2006-01-02" }}" class="post-date">{{ .Date.Format "January 2, 2006" }}</span>
                                <meta itemprop="dateModified" content="{{ .Lastmod.Format "2006-01-02" }}">
                                <span class="post-category">in
                                    {{ range $taxonomy := .Params.categories }}
                                        <a itemprop="articleSection" content="{{ $taxonomy }}" href="/categories/{{ $taxonomy | urlize }}" title="View all posts in {{ $taxonomy }}" rel="category tag">{{ $taxonomy }}</a>
                                    {{ end }}
                                </span>
                            </aside>
                            <span>By <a rel="author" href="{{ (index .Site.Data.authors .Params.author).link }}">{{ .Params.author }}</a></span>
                            <span>({{ .ReadingTime }} minutes read)</span>
                    </section>

                    <nav id="post-entries" class="fix">
                        {{ if .NextPage }}
                        <div class="nav-next fr"><a href="{{ .NextPage.RelPermalink }}" rel="next">{{ .NextPage.Title}}</a></div>
                        {{ end }}
                        {{ if .PrevPage }}
                        <div class="nav-prev fl"><a href="{{ .PrevPage.RelPermalink }}" rel="prev">{{ .PrevPage.Title}}</a></div>
                        {{ end }}
                    </nav><!-- #post-entries -->

                    </header>

                <section itemprop="articleBody" class="entry fix">
                {{ .Content }}
                <h2>Audio only</h2>
                {{ if .Params.AWSUGEmbed }}<iframe title="What’s New in September 2021" allowtransparency="true" height="450" width="50%"
                    style="border: none; min-width: min(100%, 430px);" scrolling="no" data-name="pb-iframe-player"
                    src="https://www.podbean.com/player-v2/?i={{ .Params.AWSUGEmbed }}&square=1&share=1&download=1&rtl=0&fonts=Arial&skin=1&font-color=auto&btn-skin=ff6d00&size=600"
                    allowfullscreen=""></iframe>{{end}}

                <h2>Video</h2>
                {{ if .Params.YTEmbed }}<div class="embed video-player">
                        <iframe class="youtube-player" type="text/html" width="640" height="385"
                            src="https://www.youtube.com/embed/{{ .Params.YTEmbed }}" allowfullscreen frameborder="0">
                        </iframe>
                    </div>{{end}}

                {{ if ne .Params.author "Arjen Schwarz"}}
                    <div class='ignoreme-update' style="margin-top: 1em; margin-bottom: 1em;">
                    {{ (index .Site.Data.authors .Params.author).bio | safeHTML }}
                    </div>
                {{ end }}

                {{ partial "related.html" . }}

                </section>

                </article><!-- .post -->

                </section><!-- #main -->

    {{ template "_internal/disqus.html" . }}
    {{ partial "article_meta" . }}
    </div><!-- #content -->

{{ end }}