<article class="post">
    <header>
       <h1>
          <a href="{{ .RelPermalink }}" rel="bookmark" title="{{ .Title }}">🎙️ - {{ .Title }}</a>
      </h1>
      <aside class="post-meta">
          <span class="post-date">{{ .Date.Format "January 2, 2006" }}, </span>
          <span class="post-category">in
          {{ range $taxonomy := .Params.categories }}
          <a href="/categories/{{ $taxonomy | urlize }}" title="View all posts in {{ $taxonomy }}" rel="category tag">{{ $taxonomy }}</a>
          {{ end }}
          </span>
      </aside>
  </header>
  <section class="entry">
      <p>{{ if .Description }}{{.Description}}{{ else }}{{ .Summary }}{{ end }}</p>
      {{ if .Params.AWSUGEmbed }}<iframe title="What’s New in September 2021" allowtransparency="true" height="150" width="100%"
        style="border: none; min-width: min(100%, 430px);" scrolling="no" data-name="pb-iframe-player"
        src="https://www.podbean.com/player-v2/?i={{ .Params.AWSUGEmbed }}&share=1&download=1&rtl=0&fonts=Arial&skin=1&font-color=&btn-skin=ff6d00"></iframe>{{end}}
  </section>
  <footer class="post-more">
      <a class="button" href="{{ .RelPermalink }}" title="Continue Reading">Continue Reading</a>
  </footer>
</article>