{{ define "bodytags" }}class="archive category alt-style-default layout-right-content"{{ end }}
{{ define "main" }}
    <div id="content" class="col-full">
        <section id="main" class="col-left">
            <header class="archive-header">
                <h1 style="margin-left: 130px;">{{ .Title }}</h1>
            </header>
            <div class="fix"></div>

            {{ range .Paginator.Pages.ByPublishDate.Reverse }}
                {{ .Render "summary" }}
            {{ end }}

            {{ template "_internal/pagination.html" . }}

    </div><!-- /#content -->
{{ end }}