{{ define "bodytags" }}class="archive category alt-style-default layout-right-content"{{ end }}
{{ define "main" }}
    <div id="content" class="col-full">
        <section id="main">
            <header class="archive-header">
                <h1 style="margin-left: 130px;">Projects</h1>
            </header>
            <div class="fix"></div>

            <div id="projects">
                <ul>
                    {{ range $name, $taxonomy := .Site.Taxonomies.projects }}
                    {{ $urlname := $name | urlize }}
                        <li class="projectdetails">
                          {{ range $key, $projectdetails := $.Site.Data.projects.details }}
                          {{ if eq $key $urlname }}
                            <h2><a href="/projects/{{ $urlname }}">{{ $projectdetails.name }}</a></h2>
                            <p>{{ $projectdetails.description }}</p>
                            {{ if isset $projectdetails "github" }}{{ partial "repo_info.html" $projectdetails.github }}{{ end }}
                            {{ if isset $projectdetails "youtube" }}
                            <a href="https://www.youtube.com/playlist?list={{ $projectdetails.youtube }}" class="icon-youtube"> Go to playlist</a>
                            {{ end }}
                            <h3 class="clear">{{ $num := len $taxonomy.Pages }}{{ if eq $num 1 }} 1 Article {{ else }} {{ $num }} Articles{{ end }} (click to expand)</h3>
                            <div class="articles-list" style="display:none">
                            {{ range $taxonomy.Pages }}
                                {{ .Render "projectsummary" }}
                            {{ end }}
                            </div>
                            {{ end }}{{ end }}
                        </li>
                  {{ end }}

                </ul>

            </div>

    </div><!-- /#content -->
{{ end }}